body{
  background-color: #46b7b9;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 11px;
}

.main{
height: 700px;
width: 1200px;
margin: auto;
background-color: #87dfca;
}

.topmost{
  padding: 40px;
  margin-top: 30px;
  height: 90px;
  width:510px;
  margin: 60px 345px 25px 345px;
  text-align: center;
}

.reliable{
  font-size: 1.5rem;
  font-weight: 500;
}

.powered{
  font-size: 1.5rem;
  font-weight: 700;
}

.artificial{
  line-height: 20px;
}

.left{
  display: inline-block;
  margin-top: 80px;
  margin-left: 240px;
  padding-top: 17px;
  padding-left: 30px;
  height: 150px;
  width: 230px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 5px;
  border-top: solid 3px;
  border-top-color: hsl(180, 62%, 55%);
  background-color: #fbf0f0;
}

.supervisor{
  font-size: 1.1rem;
  font-weight: 500;
}

.monitor{
  line-height: 20px;
  position: relative;
  bottom: 10px;
}

.magnifier{
  position: relative;
  left: 150px;
  bottom: 45px;
}

.top{
  display: inline-block;
  height: 150px;
  width: 230px;
  margin-top: 60px;
  margin-left: 240px;
  padding-top: 17px;
  padding-left: 30px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 5px;
  border-top: solid 3px;
  border-top-color: hsl(0, 78%, 62%);
  position: absolute;
  left: 350px;
  top: 220px;
  background-color: #fbf0f0;
}

.house{
  position: relative;
  bottom: 35px;
  left: 150px;
}

.team{
  font-size: 1.1rem;
  font-weight: 500;
}

.talent{
  line-height: 20px;
  position: relative;
  bottom: 10px;
}

.right{
  display: inline-block;
  height: 150px;
  width: 230px;
  margin-top: 60px;
  margin-left: 240px;
  padding-top: 17px;
  padding-left: 30px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 5px;
  border-top: solid 3px;
  border-top-color: hsl(212, 86%, 64%);
  position: absolute;
  left: 630px;
  top: 300px;
  background-color: #fbf0f0;
}

.calculator{
  font-size: 1.1rem;
  font-weight: 500;
}

.data{
  line-height: 20px;
  position: relative;
  bottom: 10px;
}

.bulb{
  position: relative;
  left: 150px;
  bottom: 30px;
}

.bottom{
  display: inline-block;
  height: 150px;
  width: 230px;
  margin-top: 60px;
  margin-left: 240px;
  padding-top: 17px;
  padding-left: 30px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 5px;
  border-top: solid 3px;
  border-top-color: hsl(34, 97%, 64%);
  position: absolute;
  left: 350px;
  top: 430px;
  background-color: #fbf0f0;
}

.karma{
  font-size: 1.1rem;
  font-weight: 500;
}

.regular{
  line-height: 20px;
  position: relative;
  bottom: 10px;
}
